@import url('https://fonts.googleapis.com/css2?family=Poppins');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.topbar {
    position: relative;
    display: inline;
    background-color: rgb(100, 120, 200);

    width: 100%;
    height: 80px;

    display: flex;
    box-shadow: 0 0 0.25vw #0007; 
}

.topbar img {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
}

.topbar h1 {
    position: relative;
    font-family: "Poppins";
    font-weight: 800;
    font-size: 25px;
    padding-left: 2%;
    color: #fff;
    align-self: center;
}

/* Misc */

.spacing-bar {
    position: relative;
    width: 70%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #0000 0%, #0004 35%, #0006 50%, #0004 65%, #0000 100%);
}

/* Content */

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.content h1 {
    position: relative;
    width: 100%;
    height: 28px;
    color: #000;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 25px;
    align-content: center;
    text-align: center;
    padding: 0, 0;
    left: 50%;
    transform: translateX(-50%);
}

.content p1 {
    position: absolute;
    font-family: "Poppins";
    font-weight: 500;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

/* Popup */

.popup {
    position: fixed;
    display: inline;
    width: 100%;
    height: 100%;
    background: #0007;
    z-index: 5;
}

.popup-panel {
    position: absolute;
    height: 500px;
    aspect-ratio: 4/5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 25px 2px #000;
}

.popup-panel h1 {
    font-family: "Fredoka One";
    font-weight: 1000;
    position: absolute;
    aspect-ratio: 4/5;
    transform: translate(-20%, -50%);
    rotate: -4deg;
    font-size: 45px;
    color: #000;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: #fff;
}

.popup-panel h2 {
    font-family: "Poppins";
    font-weight: 1000;
    position: absolute;
    width: 100%;
    height: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: #000;
    text-align: center;
}

.popup-panel p1 {
    font-family: "Poppins";
    font-weight: 1000;
    position: absolute;
    width: 100%;
    height: 60%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    font-size: 25px;
    color: #000;
    text-align: center;
}

.popup-panel button {
    font-family: "Poppins";
    font-weight: 1000;
    position: relative;
    width: 40%;
    aspect-ratio: 7/2;
    border-radius: 15px;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    font-size: 25px;
    color: #000;
    text-align: center;
    transition: all 0.5s ease-out;
}

.popup-panel button:hover {
    transition: all 0.5s ease-out;
    box-shadow: 0 0 10px 0 #000;
}

.popup-panel button:active {
    transition: all 0.25s ease-out;
    box-shadow: 0 0 5px 0 #000;
}

/* Quiz */

.quiz-header {
    position: relative;
    width: 100%;
    height: 28px;
    color: #000;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 25px;
    align-content: center;
    text-align: center;
    padding: 0, 0;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
}

.quiz {
    position: relative;
    display: inline;
    width: 40%;
    height: 100%;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    vertical-align: middle;
}

.quiz-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    aspect-ratio: 5/1;
    border-radius: 50vh;
    margin-top: 5px;
    transform: translateX(-50%);
}